.elevator-details {
  padding-bottom: 50px;

  .elevator-config-tb {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
  }

  .input-config-tb {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
  }

  .output-config-tb {
    margin-right: auto;
    margin-left: auto;
    max-width: 680px;
  }
}